*{
    margin: 0;
	padding: 0;
	color: white;
}

:root{
	--font: 'Josefin Sans', sans-serif;
}

body{
	/* background-image: url("https://images.wallpaperscraft.com/image/wood_black-and-white_from_below_trees_gloomy_kroner_fog_silence_60216_1280x720.jpg"); */
	height: 100vh;
	background-color: black;
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.list-group{
	width: 100%;
	margin: 0 auto;
	
}
.changeTaskValue{
	box-shadow: none;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid #f7f7f7;
	color: #f7f7f7;
	outline:0;
	font-family: var(--font);
}
.taskText{
	width: 400px;
	line-height: 50px;
}
.main{
	margin: 0 auto;
	width: 100%;
	float: left;
	background: rgba(0, 0, 0, 0);

}
.todo-item{
	color: white;
	width: 80%;
}
.change{
	margin-right: 300px;
}

.todo_form{
    margin: 0 auto;
    justify-content: center;
    width: 60%;
	height: 100px;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0);
	align-items: flex-start;
	font-family:  var(--font);
}

.counter-button{
	cursor: pointer;
	position: relative;
	background: none;
	color: #e0f9f9;
	text-transform: uppercase;
	text-decoration: none;
	border: 0.1em solid #e0f9f9;
	padding: 0.5em 1em;
	margin: 1em;
}
.clock-color{
	color: white;
	font-size: 15px;
	text-align: right;
	right: 0.5em;
}
.demo{
	margin: 0 auto;
	text-align: center;
}
.timer-color{
	color:#e0f9f9;
}
.title{
    width: 60%;
    margin: 0 auto;
    color: #f7f7f7;
    text-align: center;
	font-size: 1.6em;
	margin-top: 50px;
	font-family: var(--font);
}

.lineThrough{
	text-decoration: line-through;
}

.noneDecoration{
	text-decoration: none;
}

#task_input{
    box-shadow: none;
    width: 80%;
    background: rgba(255, 255, 255, 0);
    margin: 5px;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #f7f7f7;
	color: #f7f7f7;
	outline:0;
	font-family: var(--font);

}
.formInput{
	box-shadow: none;
    background: rgba(255, 255, 255, 0);
    margin: 0 30px 20px 30px;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #f7f7f7;
	color: #f7f7f7;
	outline:0;
	font-family: var(--font);
	text-align: center;
}
.formButton{
	cursor: pointer;
	position: relative;
	background: none;
	color: #e0f9f9;
	text-transform: uppercase;
	text-decoration: none;
	border: 0.1em solid #e0f9f9;
	padding: 0.5em 1em;
	margin: 0 auto;
	width: 150px;

}
.authForm{

}
.formGroup{
	display:  flex;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
	width: 50%;
}
.todosContainer{
	width: 80%;
	margin: 0 auto;
}
.input-form{
	display: flex;
	width: 80%;
	margin: 0 auto;
}
.select{
	color: black;
}
.hide{
	display: none;
}
.demo-container{
	margin-top: 200px;
}
.input-form__button{
   
    align-items: flex-start;
    flex-direction: row;
	width: 50px;
    background: rgba(30, 159, 233,0);
    margin: 0.5em;
	color: #f7f7f7;
	border:0;
    border-right: 1px solid white;
	cursor: pointer;
	outline:0;
	font-family: var(--font);
}

.change{
	width: 100px;
}

.task_container{
    display: flex;
    margin: 0 auto;
    padding: 5px 0;
    width: 65%;
    background: rgba(255, 255, 255, 0);
    color: #f7f7f7;
	text-align: center;
	font-family: var(--font);
	vertical-align: middle;
}

.task_text{
    display: flex;
    box-shadow: none;
    width: 70%;
	border-left: 1px solid #f7f7f7;
    margin-left: 30px;
    padding: 6px;
    outline:0;
	font-family:var(--font);
	color: #f7f7f7;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	text-align: center;	
}

.remove,.change,.add{
	visibility: hidden;
}
.main-container{
	width: 100%;
}
.doneButton, .closeButton, .changeButton{
	cursor: pointer;
	position: relative;
	background: none;
	color: #e0f9f9;
	text-transform: uppercase;
	text-decoration: none;
	border: 0.1em solid #e0f9f9;
	padding: 0.5em 1em;
	margin: 1em;
}
input{
	background-color: rgba(0, 0, 0, 0)
}
.add:hover{
	color: rgba(181, 1, 1, 1);
}

.remove:hover{
	color: rgba(181, 1, 1, 1);
}

.change:hover{
	color: rgba(181, 1, 1, 1);
}

.task_container:hover {
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.6);
}

.task_container:hover .remove{
	visibility: visible;
	font-size: 20px;
}

.task_container:hover .change{
	visibility: visible;
	font-size: 20px;
}

.task_container:hover .add{
	visibility: visible;
	font-size: 20px;
}

.submitBtn{
	width: 50px;
}

.isCompleted{
	text-decoration: line-through;
}

a{
	color: #f7f7f7;
	text-decoration: none;
	font-size: 20px;
	margin: 0 auto;
	padding: 20px;
	font-family: var(--font);
}
.done, .undone{
	width: 100%;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
}
.done {
	color: red;
	text-decoration: line-through;
  }
  
  .undone {
	color:  #f7f7f7 ;
  }

